# System #
.*
Thumbs.db

# Composer #
composer.lock
/vendor/*

# Apache #
# .htaccess

# For whole Joomla! site #
/logs/*
!/logs/index.html
/log/*
!/log/index.html
/cache/*
!/cache/index.html
/tmp/*
!/tmp/index.html
/configuration.php

# CSI
/files/*
!/files/index.html

!/.gitignore
!/sms/.gitignore

/administrator/components/com_csi/etc/config.yml
/administrator/components/com_csi/src/Csi/Config/Config.php
