
/* Admin */
@media (min-width: 738px)
{
	body {
		padding-top: 0px !important;
	}
}

/* Fix */
.hasTooltip {
	display: inline-block !important;
}

.sweet-alert fieldset {
	display: none;
}

/* Bootstrap Extended */
.margin-b-5
{
	margin-bottom: 5px;
}

.margin-b-10
{
	margin-bottom: 10px;
}

.margin-b-15
{
	margin-bottom: 15px;
}

.margin-b-20
{
	margin-bottom: 20px;
}

.margin-b-30
{
	margin-bottom: 30px;
}

.margin-b-40
{
	margin-bottom: 40px;
}

.margin-b-50
{
	margin-bottom: 50px;
}

.margin-t-5
{
	margin-top: 5px;
}

.margin-t-10
{
	margin-top: 10px;
}

.margin-t-15
{
	margin-top: 15px;
}

.margin-t-20
{
	margin-top: 20px;
}

.margin-t-30
{
	margin-top: 30px;
}

.margin-t-40
{
	margin-top: 40px;
}

.margin-t-50
{
	margin-top: 50px;
}

