{% extends "global/panel-item.twig" %}

{% block header %}
    <h1>頁面詳情 <small>統計學課程大綱</small></h1>
{% endblock %}

{% block content %}
    <div id="search-info" class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>搜尋資訊</legend>
                <dl class="dl-horizontal">
                    <dt>
                        搜尋結果
                    </dt>
                    <dd>
                        黃俊傑; Chun Chieh; Chun-Chieh; Huang
                    </dd>

                    <dt>
                        下載時間
                    </dt>
                    <dd>
                        2013-10-10
                    </dd>

                    <dt>
                        URL
                    </dt>
                    <dd>
                        <a class="text-muted" href="http://cc.shu.edu.tw/~econ/DOCUMENT/cte/CT/Common-Teaching-statistics.pdf" target="_blank">
                            http://cc.shu.edu.tw/~econ/DOCUMENT/cte/CT/Common-Teaching-statistics.pdf
                        </a>
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>

    <div id="search-content" class="row">
        <div class="col-lg-8">
            <fieldset>
                <legend>
                    頁面預覽
                </legend>

                <iframe width="100%" height="640px" src="http://cc.shu.edu.tw/~econ/DOCUMENT/cte/CT/Common-Teaching-statistics.pdf" frameborder="0">

                </iframe>
            </fieldset>
        </div>

        <div class="col-lg-4">
            <div id="modification-box" class="row">
                <div class="col-lg-12">
                    <fieldset>
                        <legend>修改紀錄</legend>

                        <ul>
                            <li>
                                <a href="#">Simon</a> 將此頁面的 <strong>被引</strong> 設為 <strong>是</strong> - 2013-10-10
                            </li>
                            <li>
                                <a href="#">Eddy</a> 將此頁面的 <strong>被引</strong> 設為 <strong>否</strong> - 2013-09-05
                            </li>
                            <li>
                                <a href="#">Andy</a> 將此頁面的 <strong>自引</strong> 設為 <strong>是</strong> - 2013-08-17
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>

            <div id="comment-box" class="row">
                <div class="col-lg-12">
                    <fieldset>
                        <legend>留言</legend>

                        <div id="comment-content">

                            {% for i in 1..3 %}
                                {% include "result/list/comment-item.twig" %}
                            {% endfor %}

                        </div>

                        <button class="btn btn-primary">留言</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

